{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Start Featured Area  -->
        
        <div class="axil-featured-post axil-section-gap bg-color-grey">
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2 class="title">Treners</h2>
                        </div>
                    </div>

                    <form class="header-search-form d-sm-block d-none" name="get" action="{% url 'trener_url' %}">
                        <div class="axil-search form-group">
                            <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                            <input type="text" class="form-control" placeholder="Search Trener" name="q">
                        </div>
                    </form>
                </div>
                <div class="row">
                    {% for trener in treners %}
                    <!-- Start Single Post  -->
                    <div class="col-lg-6 col-xl-6 col-md-12 col-12 mt--30">
                        <div class="content-block content-direction-column axil-control is-active post-horizontal thumb-border-rounded">
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" href="{% url 'sport_trener' %}{{trener.sport.id}}">
                                            <span class="hover-flip-item">
                                                <span data-text="{{trener.sport}}">{{trener.sport}}</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title"><a href="{% url 'trener_url' %}{{trener.id}}">{{trener.name}} {{trener.l_name}}</a></h4>
                                <div class="post-meta">
                                    <div class="content">
                                        <h6 class="post-author-name">
                                            <a class="hover-flip-item-wrapper" href="{% url 'arena_url' %}{{trener.arena.id}}">
                                                <span class="hover-flip-item">
                                                    <span data-text="Workplace: {{trener.arena}}">Workplace: {{trener.arena}}</span>
                                                </span>
                                            </a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>{{trener.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="post-thumbnail" >
                                <a href="{{trener.id}}">
                                    <img src="{{trener.image.url}}" alt="Post Images" style="height: 240px; width: 240px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post  -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Featured Area  -->



{% endblock %}


